*{
	margin: 0;
	padding: 0;
}
body{
    font: 14px "Bad Script";
	color: #333;
    background: #0d0d0d;
}
a,
a:hover,
a:active{
	color: #fff;
	text-decoration: none !important;
}
.wrapper .bg{
    background: url(../images/big-slider/1.jpg);
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.2;
}
.wrapper .container {
    position: relative;
    z-index: 1;
    text-align: center;
}
.title {
    color: #F2B84B;
    font-size: 28px;
    margin:10px 0 150px;
    position: relative;
    text-align: center;
}
.buttonBar{
    display: none;
}
.design-wrapper{
	text-align: center;
}
.logo-wrapper {
    overflow: hidden;
    text-align: center;
    margin-top: 40px;
}
.logo {
    display: inline-block;
    margin-top: 150px;
    color: #fff;
    text-align: center;
    font: 80px/80px ;
}
.image-wrapper {
    color: #009DC0;
    font-size: 34px;
    line-height: 80px;
    overflow: hidden;
    position: relative;
}
.logo .image-wrapper {
    margin: 0 17px 0 30px;
}
.logo-name {
    color: #fff;
    font-size: 40px;
    margin-right: 12px;
    position: relative;
    text-transform: uppercase;
    top: 3px;
}
.theme-block{
	display: inline-block;
    height: 210px;
    position: relative;
    width: 300px;
    margin: 0 25px;
}

.theme-block img {
    width: 80%;
    cursor: pointer;
    margin-top: 20px;

    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);

    -moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.theme-block:hover img{
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.theme-block .lable{
	left: 30px;
    position: absolute;
    right: 30px;
    top: 100%;
    z-index: 2;
    margin-top: -10px;

    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);

    -moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.theme-block:hover .lable{
    -moz-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);    
}
.lable-title {
    font-size: 24px;
    padding: 4px 7px;
    color: #fff;
    font-family: "Bad Script";
    position: relative;

    -moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.theme-block:hover .lable-title{
    color: #f2b84b;
}
@media (max-width: 992px) {
    .title{
        font-size: 50px;
    }
}
@media (max-width: 320px) {
    .theme-block{
        width: 270px;
        height: 203px;
    }
    .theme-block .lable{
        top: 85px;
    }
    .title {
        font-size: 30px;
    }
    .logo-name{
        font-size: 30px;
    }
    .image-wrapper{
        font-size: 26px;
        line-height: 76px;
    }
    .design-wrapper img {
        display: block;
        height: auto;
        margin: 0 auto;
    }
}