
@{
    ViewData["Title"] = "PaymentGetwayFeedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <br />
    <br />
    <br />
<h3 style="margin-top:10%;text-align:center">Thank you for your payment! You will get a mail soon!</h3>

