
@{
    ViewBag.Title = "ConfirmMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <br />
   
<h3 style="text-align:center;margin-top:10%" >We received your request.You will get a confirmation mail once your request is procced!</h3>

<br />
<br />